* {
    text-align: center;
}

body img:first-of-type {
    width: 200px;
}

h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color: white;
}

input[type="text"] {
    margin-bottom: 20px;
    width: 300px;
    padding: 10px 15px;
    border-radius: 22px;
    border: none;
    font-family: cursive;
}

input[type="submit"] {
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 700;
    background: rgba(135, 178, 206, 0.7);
}

.label {
    color: white;
}

.ys,
.wys .hide {
    display: inline-block;
    margin-right: 10px;
}