.desktop {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: none;
    opacity: 0;
    animation: showDesktop 0.5s ease 1s 1 normal forwards;
}

@keyframes showDesktop {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.icons {
    width: 100vw;
    height: calc(100vh - 40px);
    padding: 10px 10px 0px 10px;
    user-select: none;
}

.icon{
    cursor: pointer;
}

.icon img{
    width: 40px;
    height: auto;
}

.icon p{
    margin: 0px;
    font-family: Roboto;
    font-weight: 700;
}

.taskbar {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 40px;
    background-color: #303032;
    opacity: 1;
    filter: blur(0);
    display: flex;
    justify-content: space-between;
}

.start {
    height: 100%;
    width: 70px;
    background: #202224;
    display: flex;
    justify-content: center;
}

.start:hover {
    background: #111414;
}

.start img {
    width: 70%;
}

.dateAndTime {
    user-select: none;
    color: white;
    padding-right: 5px;
    text-align: center;
}